*{
    margin: 0;
    padding: 0;
    border: 0;
}

header{
    background-color: #E67085;
    height: 10vh;
}

main{
    background-color: #C9EBFF;
    height: 60vh;
    display: flex;
    justify-content: space-around;
}

footer{
    background-color: #B27DF4;
    height: 15vh;
}

section{
    margin-top: 10vh;
    height: 35vh;
    width: 25vw;
    background-color: #03A8FF;
}

aside{
    margin-top: 0;
    background-color: #03A8FF;
    height: 15vh;
    width: 100vw;
}