*{
    border: 0;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    
}

.circle{
    height: 50px;
    width:  50px;
    border: solid 1px black;
    border-radius: 50%;
}

.colorB{
    background-color: blue;
}

.colorY{
    background-color: yellow;
}